form {
  width: 45%;
  max-width: 550px;
}

.CreateNote {
  margin-bottom: 2rem;
}

button {
  padding: 0.5rem;
  display: block;
  font-size: 0.9rem;
  width: 50%;
  border-radius: 3px;
  outline: none;
  /* background: lightslategray; */
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.1ch;
}

.closedView {
  width: 45%;
}

textarea {
  width: 100%;
  padding: 0.4rem;
  border-radius: 3px;
}

.bodyInput {
  height: 90px;
  margin-bottom: 0.5rem;
}